<div class="col-sm-3">
  <div class="left-sidebar">
    <h2>DANH MỤC</h2>
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              Đồ thể thao
            </a>
          </h4>
        </div>
        <div id="sportswear" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li><a href="">Nike </a></li>
              <li><a href="">Under Armour </a></li>
              <li><a href="">Adidas </a></li>
              <li><a href="">Puma</a></li>
              <li><a href="">ASICS </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordian" href="#mens">
              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              Đàn ông
            </a>
          </h4>
        </div>
        <div id="mens" class="panel-collapse collapse">
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordian" href="#womens">
              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              Phụ nữ
            </a>
          </h4>
        </div>
        <div id="womens" class="panel-collapse collapse">
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#">Trẻ em</a></h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#">Thời trang</a></h4>
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#">Áo khoác</a></h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#">Túi cặp</a></h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#">Giầy</a></h4>
        </div>
      </div>
    </div><!--/category-productsr-->
  
  </div>
</div>