<footer id="footer"><!--Footer-->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Trái mùa thu</p>
        <p class="pull-right">Theme by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
      </div>
    </div>
  </div>
  
</footer><!--/Footer-->



  <script src="/static/js/jquery.js"></script>
<script src="/static/js/price-range.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>